body{
  background-color: #fff;
  padding: 100px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
  background-image: url('IMG_0284.png');
  background-size: cover; /* 画像を画面全体にフィットさせる */
   background-position: center; /* 画像を中央に配置する */
  background-repeat: no-repeat; /* 画像を繰り返さない */
}



.class-newsletter{
  


}