body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: #f0f0f0;
  margin: 0;

  background-image: url('IMG_0284.png'); /* 画像ファイルのパス */
  background-attachment: fixed;
  background-size: cover;
    background-position: center; /* 画像を中央に配置する */
  background-repeat: repeat; /* 画像を繰り返さない */
}

.protected-container {

  background-color: #fffafd;
  padding: 180px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
  position: absolute;
  z-index: 1; /* 後ろに表示 */

}


.login-container{
position: absolute;
  z-index: 3;
  
  background-color: #fff;
  padding: 100px;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
opactity: 0.5;
}

h1 {
  
  margin-bottom: 400px;
  font-family : "Dela Gothic One Static", sans-serif
  
}

input[type="password"] {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  border: none;
  color: white;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#error-message {
  color: red;
  margin-top: 10px;
}

.button-link {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #057bff;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.picture{
top: 50%;
  left: 200px;
}

.message {
  position: absolute;
  z-index: 5; /* 前に表示 */

  font-size: 13px;
  left: 150px;
  top: 150px;

  color: #616161;
}

.enter-password{
  position: absolute;
  z-index: 7;
  margin-bottom: 10px;
  font-size: 13px;
}

.line{

  width: 2px; /* 線の太さ */
  height: 100%; /* 縦線の高さ、画面の高さに合わせる */
  background-color: #adadad; /* 線の色 */
  position: absolute; /* 絶対位置 */
  left: 60%; /* 左から50%の位置に配置（中央） */
  top: 70px; /* 上から0の位置に配置 */

  position: absolute;
  z-index: 10;
}

.topic-box-1{
  
width: 200px;   /* 横幅 */
height: 150px;  /* 縦幅 */
background-color: #f9d3e0; /* 色 */
border: 2px solid #ee719e; /* 境界線 */
border-radius: 5px; /* 角を少し丸くする（オプション） */
  
  position: absolute;
  z-index: 11;
}

.topic-title-1{
  padding-left: 10px;
}

.class-newsletter{
  position: absolute;
  z-index: 15;
 left: 670px; 
  top: 100px;
  
}

.top-line{
  height:5px;
  width: 80px;

  position: absolute;
  z-index: 20;
  top:100px;
}